@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans');

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: content-box;
}

body {
  height: inherit;
}

#root {
  height: inherit;
}

.App {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: hsl(210, 60%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.new-notif {
  background-color: hsl(211, 68%, 94%);
}

@media only screen and (max-width: 1000px) {
  .App > div:first-child {
    width: 100%
  }
}

@media only screen and (max-width: 700px) {
  .activityContainer > div:first-child  {
    width: 60vw;
  }
}